*{
	margin:0;
	padding:0;
/*	background-color:LightGray;
 */}
 .upmost { 
 	padding:20px;
 	margin:0 20px 0 0;
 	background-color: white;
 	width:100%;
  }
.login{
	text-shadow: transparent;
	font-style: arial;
	font-size:22px;
	margin:500px 20px;
	line-height: 50px;
	text-decoration: none;
	padding :0 1335px;
}
.logo {
	font-family: arial;
	color:DarkBlue;
	padding: 0 22px;
}
body{
	background-color: LightGray;
}
.head-master{
	width:100%;
	height:100px;
	background-color: #fff;
}
.head-ulist{
	
}

.head-ulist .head-list{
	text-align:inline;
	list-style:none;
	display:inline;
	float:left;
	line-height: 100px;
}
.head-ulist .head-list .head-a{
	display:block;
	font-size :14px;
	font-family:arial;
	text-decoration:none;
	color:rgb(73,87,119);
	padding:0 70px;
  }
  .head-ulist .head-list .head-a :hover{
	color :red;
   border:20px DarkBlue;
  }
ul li a:hover{
	color:red;
}

.heading{
	font-family:arial;
	text-decoration:none;
	font-size:25px;
}
.foot{

}
.foot .foot-heading{
	list-style:none;
}
.foot .foot-heading .heading{

}
.foot .foot-heading .points{
	text-decoration:none;
}
.foot .foot-heading .points:hover{
	text-decoration:underline;
	color:white;
}
.foot-master{
	padding:10px 10px 0 10px;
	background-color: DarkGray;
}
.k1 .k2{
	display:inline;
}